
body {
  background-color: #f1eaea;
}
.tile {
  width:50%;
}
.tile--big {
  height:600px;
}
.tile--small {
  height:200px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.tile__overlay {
  opacity: 0;
  width:100%;
  height:100%;
  background-color: rgba(210,210,210,.7);
  transition: opacity .3s;
}

.tile__overlay--right {
  opacity: 0;
  width:100%;
  height:100%;
  background-color: rgba(30,30,30,.7);
}
.tile--big:hover .tile__overlay {
  opacity: 1;
}
