---
layout: default
---

<div style="width:100%; float:left">
  {% assign boop = true %}
  {% if boop %}
    {% assign boop = false %}
    {% assign float="left" %}
  {% else %}
    {% assign boop = true %}
    {% assign float="right" %}
  {% endif %}
  <div id="filler" style="clear:both;height:170px;transition: all .4s ease;"></div>

  <div class="tile tile--small" style="float:{{float}};background: #000000;background: -webkit-linear-gradient(to left, #101010 , #434343);background: linear-gradient(315deg, #191919 , #303030);">
    <div class="tile__shcontainer">
      <h2 class="tile__header">PROJECTS</h2>
    </div>
  </div>

  {% for project in site.data.projects %}
    {% if boop %}
      {% assign boop = false %}
      {% assign float="left" %}
    {% else %}
      {% assign boop = true %}
      {% assign float="right" %}
    {% endif %}
    <div class="tile tile--big" style="float:{{float}};background: url('{{project.image}}')no-repeat;background-position:center;background-size:cover; background-color:{{project.color}};">
      <div class="tile__overlay">
        <div>
          <h3 class="overlay__title">{{ project.name}}</h3>
          <p>{{ project.desc }}</p>
          {% if project.tools %}
            <h4 class="overlay__tools">Technologies Used</h4>
            <div>
              {% for tool in project.tools %}
              <img style="width:64px; margin-bottom:15px;" alt={{tool.alt}} src="images/{{tool.img}}.png"/>
              {% endfor %}
            </div>
          {% endif %}
          <div class="buttons">
            {% for button in project.buttons %}
            <a target="_blank" href="{{button.link}}">{{button.title}}</a>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>

  {% endfor %}
  {% if boop %}
    {% assign boop = false %}
    {% assign float="left" %}
  {% else %}
    {% assign boop = true %}
    {% assign float="right" %}
  {% endif %}
  <div class="tile tile--small" style="float:{{float}};background: #000000;background: -webkit-linear-gradient(to left, #101010 , #434343);background: linear-gradient(315deg, #191919 , #303030);">
    <div class="tile__shcontainer">
      <h2 class="tile__header">BLOG POSTS</h2>
    </div>
  </div>
  {% for post in site.posts %}

    <div class="tile tile--big" style="float:{{float}};background: url('{{post.image}}')no-repeat;background-position:center;background-size:cover; background-color:#{{post.color}};">
      <div class="tile__overlay">
        <div>
          <h3 class="overlay__title">{{ post.title}}</h3>
          {{ post.excerpt }}
          <div class="buttons">
            <a href="{{ post.url | prepend: site.baseurl }}">Read More</a>
          </div>
        </div>
      </div>
    </div>
    {% if boop %}
      {% assign boop = false %}
      {% assign float="left" %}
    {% else %}
      {% assign boop = true %}
      {% assign float="right" %}
    {% endif %}
  {% endfor %}
<script>
$(function() {
    $("img").lazyload();
});
$(window).scroll(function() {
  console.log($(this).scrollTop());
  if ($(this).scrollTop() > 1233 && boop != 2) {
    boop = 2;
    $('.header__h1').fadeOut(300, function() {
      $(this).text('Brandon Fox\'s Blog').fadeIn(300);
    });
  } else if ($(this).scrollTop() > 75 && $(this).scrollTop() <= 1233 && boop != 1){
    boop = 1;
    $('.header__h1').fadeOut(300, function() {
        $(this).text('Brandon Fox\'s Projects').fadeIn(300);
    });
  } else if ($(this).scrollTop() <= 75 && boop != 0) {
    boop = 0;
    $('.header__h1').fadeOut(300, function() {
      $(this).text('Brandon Fox').fadeIn(300);

    });
  }
});
</script>
</div>
</div>
