---
layout: default
---
<div class="wrapper"><h2 class="section heading">Recent Projects</h2></div>

<div style="width:100%; float:left">
  {% assign left = true %}
  {% for project in site.data.projects %}
  {% if left %}
  {% assign left = false %}
  {% assign float="right" %}
{% else %}
  {% assign left = true %}
  {% assign float="left" %}
{% endif %}
    <div class="wrapper">
      <div class="section section--small" style=" float: {{float}};">
        <a class="project-image__link" target="_blank" href="{{project.buttons[0].link}}"><img data-original='{{project.image}}' class="lazy project-image" style="max-width: 100%;"/></a>
      </div>
      <div class="section" style="float: {{float}};">
        <div>
          <h3 class="project-title"><a target="_blank" href="{{project.buttons[0].link}}">{{ project.name}}<div class="underline underline--small"></div></a></h3>
          <p>{{ project.desc }}</p>
          {% if project.tools %}
            <h4>Technologies Used</h4>
            <div class="tools">
              {% for tool in project.tools %}
              <img style="width:64px;align-self: center; margin-bottom:15px;" alt="{{tool.alt}}" src="images/{{tool.img}}.png"/>
              {% endfor %}
            </div>
          {% endif %}
          <div class="buttons">
            {% for button in project.buttons %}
            <a class="button" target="_blank" href="{{button.link}}">{{button.title}}</a>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>

  {% endfor %}
</div>
<div style="clear: both;">

</div>
</div>
</div>
