.jumbotron {
  background-color: #CECECE;
}

.footer {
  background: #348889;
  padding-left: 10px;
  margin-top: 200px;
  height: 60px;

}

#headshot {
  width: 50px;
  height: 50px;
}

.boop > li {
    display: inline;
}

.footer > p { display: table-cell; height: 60px; vertical-align: middle; }


.infoBtn {
  margin-bottom: 10px;

}

body {
  background-color: #CECECE;
  padding-top: 70px;

}

.btn-primary {
  color: #fff;
  background-color: #4CBF99;
  border-color: #4CBF99;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #48B59D;
  border-color: #48B59D;
}
.btn-primary:hover {
  color: #fff;
background-color: #48B59D;
  border-color: #48B59D;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
background-color: #48B59D;
border-color: #48B59D;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #48B59D;
  border-color: #48B59D;

}

.title {
  margin-bottom: 20px;
  color: #FFFFFF;
}

p {
  color: #000000
}

.projectImage {
  width: 100%;
}
.descr {
  color: #FFFFFF;
  margin-top: 10px;

}

  @media only screen and (max-width: 1000px) {
    .title {
      padding-top: 20px;
    }


}

.edimg {
  width: 30%;
  margin-right: 10px;
}
.pro1, .about2 {
  padding-top: 0px;
  background-color: #303030;
}
.pro2, .about1 {
  background-color: #348889;
}
.pro3 {
  background-color: #348889;
}
