<footer class="wrapper" style="width:100%;padding:0 100px;text-align:center;" >
  <h2 class="footer-header">Want to get in touch?</h2>
  <script type="text/javascript">
    document.write("<a class='contact-me' href=\"mail" + "to:" + new Array("bl.fox","live.com").join("@") + "\">" + "bl.fox@live.com<div class='underline'></div>" + "</" + "a>");
  </script>
  <div class="icons">
    <a href="https://github.com/bradndon" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://linkedin.com/in/bradndon" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://codepen.io/bradndon" target="_blank"><i class="fa fa-codepen" aria-hidden="true"></i></a>
    <a href="https://medium.com/@bradndon" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
  </div>
</footer>
