
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img id="headshot" src="/brandon_headshot.jpg"/></a>

  </div>
  <div class="collapse navbar-collapse" id="nav">
    <!-- <p class="navbar-text">Signed in as Mark Otto</p> -->
    <ul class="nav navbar-nav">
        <li><a href="/#projects">Projects</a></li>
        <li><a href="/#about">About Me</a></li>
        <li><a href="/#posts">Posts</a></li>
    </ul>
  </div>

</nav>
