
<div>

  <header>
    <a href="{{ site.url }}" class="header__h1">Brandon Fox</a>
    <p class="header__p">
      {% if page.title %}
        {{page.title}}
      {% else %}
        Lead Devloper at <a href="http://www.secondsyllable.com">Second Syllable Design Co.</a>
      {% endif %}</p>
  </header>
<script>
var boop = 0

$(window).scroll(function() {
  if ($(this).scrollTop() > 1){
    $('header').addClass("sticky");
    $('#filler').css("transition", "transition:height .4s ease");
    $('#filler').css("height", "65px");
  } else{
    $('header').removeClass("sticky");
    $('#filler').css("height", "170px");
  }
});
</script>
