
<div>
  <header class="wrapper">
    <a style="width: 50%;" href="https://www.linkedin.com/in/bradndon"><img class="profile-image" src="images/profile.jpg" /></a>
    <h1 class="site-title">Hi! I'm <a target="_blank" href="https://www.linkedin.com/in/bradndon">Brandon Fox<div class="underline"></div></a>, a full stack web developer, currently working at <a target="_blank" href="http://toolhouse.com/">toolhouse inc.<div class="underline"></div></a> I recently graduated from <a target="_blank" href="https://wwu.edu">Western Washington University<div class="underline"></div></a> and am pursuing my dream of ...</h1>
  </header>
