/**
 * Site header
 */

.section {
  width: 52%;
  padding: 20px;
  @include media-query($on-palm) {
    float: none !important;
    width: 100% !important;
    padding: 15px;
  }
  &--small {
    padding: 50px;
    width: 48%;
  }
  p {
    font-size: 1.6rem;
  }
}

.site-title {
    font-size: 2.6rem;
    line-height: 4.4rem;
    letter-spacing: 1px;
    margin-bottom: 0;
    float: left;
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    @include media-query($on-palm) {
      float: none;
      width: 100%;
    }
    &,
    &:visited {
        color: $brand-color;
    }
    &--small {
      width: 40%;
    }
}

.project-image {
  border: 4px solid $accent-color;
  transition: .4s border-color, .4s padding, .4s border-width;
  padding: 5px;
  &__link:hover > .project-image {
    border-color: $brand-color;
    padding: 0px;
  }
}
.profile-image {
  border-radius: 50%;
  float: left;
  padding: 10px;
  margin-right: 40px;
  width: 50%;
  max-width: 250px;
}

header {
  display: flex;
  align-items: center;
  @include media-query($on-palm) {
    display: block;
  }
}

.project-title {
  font-size: 2.4rem;
}

.tools {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.button {
  background-color: $brand-color;
  border-radius: 5px;
  color: $background-color;
  padding: 10px 15px;
  font-size: 1.8rem;
  margin: 0;
  margin-right: 5px;
  letter-spacing: 1px;
  &:visited {
    color: $background-color;
  }
  &:hover {
    background-color: $accent-color;
    color: $background-color;
  }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
